{% extends "base.html" %}

{% block content %}

  <div class="page-header" style="align-content: flex-start">
    <h1>Tags</h1>
    <a
        class="btn btn-primary btn-sm"
        href="{% url 'todo_app:tag-create' %}"
        role="button">
      Add
    </a>
  </div>

  <div class="tags-table">
  {% if tags %}

      <table class="table">
        <tr>
          <th>Name</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>

        {% for tag in tags %}
          <tr>
            <td>{{ tag.name }}</td>

            <td>
{#                <a href="{% url '#' pk=tag.id %}">#}
{#                  Update#}
{#                </a>#}
            </td>

            <td>
{#              <a style="color: red"#}
{#                href="{% url '#' pk=tag.id %}">#}
{#                Delete#}
{#              </a>#}
            </td>

          </tr>
        {% endfor %}

      </table>

  {% endif %}
  </div>
{% endblock %}